{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        .discog-body {
            background-color: black;
        }
    </style>
</head>
<body class="discog-body">
    {% block con %}
        {% if user.is_superuser %}
        {% else %}
            <h1>LoneIsle</h1>
            <h6>LoneIsle이라는 이름은 바쁘게 돌아가는 현대사회의 물살에 휩쓸리지 않고 홀로 고고히 자신의 위치를 지키는 하나의 브랜드가 되자는 의미입니다.<br></h6>
            

        {% endif %}
    {% endblock con %}
</body>
</html>